* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


/* ---- welocme Page ---- */

.welcome-container {
    margin-top: 4rem;
    width: 650px;
    height: 550px;
    border-radius: 15px;
    background: rgb(238, 174, 202);
    background: radial-gradient( circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.welcome-container h2 {
    margin: auto;
    margin-top: 30px;
    font-size: 6.5rem;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 6rem;
    font-family: "Bebas Neue", cursive;
}

.the-container {
    width: 90%;
    margin: auto;
}

.to-bank {
    margin: auto;
    width: 100%;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#username-input {
    height: 60px;
    width: 96%;
    text-align: center;
    margin-bottom: 10px;
    background-color: unset;
    border: 1px solid black;
    border-radius: 2.5px;
    font-size: 1rem;
    margin-top: 10px;
}

#username-input::placeholder {
    color: rgb(65, 65, 65);
}

#username-btn {
    height: 60px;
    width: 96%;
    background-color: unset;
    border-radius: 2.5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
}

#username-btn:hover {
    background-color: black;
    color: white;
}


/* ---- bank interface ----- */

.sec-title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.7rem;
}

#account-balance {
    margin: auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    border: 2px solid black;
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.493);
}

.bank-btns {
    margin: auto;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#bank-deposit-btn,
#bank-withdraw-btn {
    height: 40px;
    width: 160px;
    border: 1px solid black;
    cursor: pointer;
    background-color: unset;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    font-size: 1rem;
}

#bank-deposit-btn:hover,
#bank-withdraw-btn:hover,
#bank-exit-btn:hover {
    background-color: black;
    color: white;
}

#action-menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
}

#action-menu input {
    height: 100%;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
    background-color: unset;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
    font-size: 1rem;
}

#action-menu button {
    height: 100%;
    width: 116px;
    border: 1px solid black;
    cursor: pointer;
    background-color: unset;
    border-radius: 10px;
    font-size: 1rem;
}

#action-menu button:hover {
    background-color: black;
    color: white;
}

#action-menu {
    display: none;
}

#bank-exit-btn {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
    background-color: unset;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    font-size: 1rem;
}

.bank-interface {
    display: none;
    width: 60%;
    margin: auto;
}

@media (max-width: 550px) {
    #username-input {
        width: 94%;
    }
    #username-btn {
        width: 94%;
    }
    .bank-interface {
        width: 90%;
    }
    .to-bank {
        margin-top: 60px;
        width: 100%;
    }
    .welcome-container h2 {
        line-height: 4.5rem;
        font-size: 4.6rem;
    }
    .actions {
        width: 90%;
    }
    .bank-interface {
        width: 100%;
    }
}