* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0;
}
:root {
    --main-grey-color: white;
}

/* -------------------------- welocme Page ------------------------------------ */
.welcome-container {
    margin-top: 4rem;
    width: 30%;

    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
#welcome-text {
    margin: 15px auto;
    font-size: 2.5rem;
    width: 80%;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    color: white;
    text-shadow: 0 0 2px #000;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}

.the-container {
    width: 100%;
    margin: auto;
}
#username-input {
    height: 50px;
    width: 80%;
    text-align: center;
    background-color: unset;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: inset 5px 5px 10px #b5b5b5, inset -5px -5px 10px #ffffff;
}

.to-bank {
    margin: auto;
    width: 100%;
    height: 160px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#username-input::placeholder {
    color: rgb(65, 65, 65);
}

#username-btn {
    height: 60px;
    width: 80%;
    -webkit-appearance: none;
    background-color: unset;
    border-width: 0px;
    border-color: unset;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: none;
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffffd2;
}

#username-btn:hover {
    background-color: rgb(57, 57, 57);
    color: white;
}

/* ------------------------- bank interface -------------------------- */

.sec-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: rgb(57, 57, 57);
}

.bank-interface {
    display: none;
    width: 80%;
    margin: auto;
}

#account-balance {
    margin: auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: inset 5px 5px 10px #b5b5b5, inset -5px -5px 10px #ffffff;
}

.bank-btns {
    margin: auto;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#bank-deposit-btn,
#bank-withdraw-btn {
    color: rgb(57, 57, 57);
    height: 50px;
    width: 48%;
    -webkit-appearance: none;
    border-width: 0px;
    border-color: unset;
    outline: none;
    border: 0.1px solid rgb(193, 193, 193);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    font-size: 1rem;
    background: linear-gradient(145deg, #f0f0f0, #e2e2e2);
    box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffffd2;
}

#bank-deposit-btn:hover,
#bank-withdraw-btn:hover,
#bank-exit-btn:hover {
    background-color: rgb(57, 57, 57);
    color: white;
}

#action-menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
}

#action-menu input {
    height: 100%;
    width: 48%;
    cursor: pointer;
    background-color: unset;
    border-radius: 5px;
    text-align: center;
    -webkit-appearance: none;
    border-width: 0px;
    border-color: unset;
    outline: none;
    border: 0.1px solid rgb(193, 193, 193);
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: inset 5px 5px 10px #b5b5b5, inset -5px -5px 10px #ffffff;
}

/* -- remove input arrows -- */
input[type="number"] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#action-menu button {
    color: black;
    height: 100%;
    width: 48%;
    -webkit-appearance: none;
    border-width: 0px;
    border-color: unset;
    outline: none;
    border: 0.1px solid rgb(193, 193, 193);
    cursor: pointer;
    background-color: unset;
    border-radius: 5px;
    font-size: 1rem;
    background: linear-gradient(145deg, #b9b9b9, #bbbbbb);
    box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffffd2;
}

#action-menu button:hover {
    background-color: rgb(57, 57, 57);
    color: white;
}

#action-menu {
    display: none;
}

.digits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 15px;
}
.digits .btn {
    height: 50px;
    border-radius: 5px;
    border: 0.1px solid rgb(193, 193, 193);
    background: linear-gradient(145deg, #cbcbcb, #a5a5a5);
    box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffffd2;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.digits .btn:hover {
    background: linear-gradient(145deg, #919191, #7c7c7c);
}

#bank-exit-btn {
    color: black;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    border-width: 0px;
    border-color: unset;
    outline: none;
    border: 0.1px solid rgb(193, 193, 193);
    cursor: pointer;
    background-color: unset;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    font-size: 1rem;
    background: linear-gradient(145deg, #f0f0f0, #e2e2e2);
    box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffffd2;
}

/* ------------------------------------ Transactions area -------------------------------------- */

.transactions {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.transactions .title {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.transactions h3 {
    margin-top: 20px;
    color: grey;
    font-weight: 400;
}
.transaction-list {
    margin-top: 5px;
    color: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.transactions-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

.transactions-container .plus {
    color: green;
    font-weight: 500;
}
.transactions-container .minus {
    color: rgb(182, 0, 0);
    font-weight: 500;
}

.transactions-container .balance {
    color: rgb(57, 57, 57);
    font-weight: 500;
    width: 20%;
=
}

.transactions-container .amount {
    width: 20%;
}

.transactions-container .date {
    width: 40%;

    text-align: center;
}

@media (max-width: 750px) {
    #username-input {
        width: 94%;
    }
    #username-btn {
        width: 94%;
    }
    .welcome-container,
    .bank-interface,
    .transactions-container,
    .transactions .title,
    .actions {
        width: 90%;
    }
    .welcome-container {
        height: 100%;
    }

    .the-container {
        margin-bottom: 50px;
    }

    /* #bank-deposit-btn,
    #bank-withdraw-btn {
        width: 135px;
    }
    #action-menu input,
    #action-menu button {
        width: 135px;
    } */

    #action-menu input {
        font-size: 0.85rem;
    }
    .to-bank {
        margin-top: 60px;
        width: 100%;
    }
    .welcome-container h2 {
        line-height: 4.5rem;
        font-size: 4.6rem;
    }

    .bank-interface {
        width: 90%;
    }
}
